.card-large{
    font-size: 16;
    margin-bottom: 25px;
}
.card-title{
    font-size: 24px;
}
img{
    /*height: 300px;*/
    /*width: 450px;*/
    width: 100%;
    height: auto;
}
button{
    font-size: 14;
    width: 25px;
}
.userid{
    font-size: 20px;
}
.c2{
 padding-left: 10px;
 padding-bottom: 10px;
 padding-top: 10px;
 padding-right: 10px;

}
.date{
    float: right;
}
.comhover{
    cursor: pointer;
    font-size: 16px;
}
.rate{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
}
.hours{
    font-size: 12px;
}
#ratingModal{
    height: 250px;
    width: 300px;
}
.sebm-google-map-container {
  height: 300px;
}
.comLike{
    cursor: pointer;
}
