<div class = "row container">
    <div class = "col s12 m8 offset-m2 l12" *ngIf="dish">
        <div class = "card-medium">
            <span class="card-title"><strong>{{ dish.name }} &nbsp;</strong></span>
            <span><rating [(ngModel)]="ratingAvg" [readonly]="true"></rating></span>
            <div class="card-image">
          	    <img src="{{ dish.img_url }}" alt="" class="responsive-img">
        	</div>
            <div class = "card-content" *ngIf="details">
                    <h6><strong>Restaurant:</strong> {{ details.result.name }}</h6>
                    <h6><strong>Description:</strong> {{ dish.description }}</h6>
                    <h6><strong>Address:</strong> {{ details.result.formatted_address }}</h6>
                    <h6><strong>Phone:</strong> {{ details.result.formatted_phone_number }}</h6>
                    <h6><strong>Hours: </strong></h6>
                    <div class="hours" *ngFor="let dayhours of this.details.result.opening_hours.weekday_text">
                    {{ dayhours }}<br>
                    </div>
                <br>
                <span><a class="rate modal-trigger" link="btn light blue" data-target="ratingModal"><strong>Add Rating!</strong></a></span>
            </div>
        </div> 
    </div>
</div>
<br>
<br>

<div class="container" id="comments" *ngIf="(af.auth|async)">
    <div class="input-field col s12 m12 l9">
        <input id="comment" type="text" class="validate" [(ngModel)]="addedComment" name="addedComment">
          <label for="comment">Comment</label>
		  <a class="waves-effect waves-light btn" (click)="onAddedComment()">Submit</a> 
    </div>
</div>
     <br>
    <br>
<br>

<div class="row container">
        <div class="col s12 m12 l12">
            <div class = "card-large c2" *ngFor="let comment of comments">
                <span class= "userid"><strong>{{ comment.user }}</strong></span>
                    <span class="date"><strong>{{ comment.date }}</strong></span>
                <div class= "card-content">
                    <div><strong>Comment: </strong>{{ comment.comment_data }}</div>
                    <rating [(ngModel)]="comment.rating" [readonly]="true"></rating>
                </div>
                <hr>
            </div>
        </div>
    </div>
 <!-- Modal Structure -->
           <div id="ratingModal" class="modal">
                <div class="modal-content" *ngIf="details dish">
                    <h5>Rate Dish</h5>
                    <h6><strong>{{details.result.name}}:  </strong>{{ dish.name }}</h6>
                    <div><rating [(ngModel)]="starSelect"></rating></div>
                </div>
                <div class="modal-footer">
                    <a class="modal-action waves-effect waves-green btn-flat modal-close" (click)="rateDish()">Submit</a>
            </div> 
        </div>
