<div class = "row container">
    <div class = "col s12 m8 offset-m2 l6" *ngIf="dish">
        <div class = "card-medium">
            <span class="card-title"><strong>{{ dish.name }} &nbsp;</strong></span>
            <span><rating [(ngModel)]="ratingAvg" [readonly]="true"></rating></span>
            <div class="card-image">
          	     <img src="{{ dish.img_url }}" alt="" class="responsive-img">
            </div>
            <div class="flex-center" *ngIf="!details">
				Loading Up Contents.
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "card-content" *ngIf="details">
                    <h6><strong>Restaurant:</strong> {{ details.result.name }}</h6>
                    <h6><strong>Description:</strong> {{ dish.description }}</h6>
                    <h6><strong>Address:</strong> {{ details.result.formatted_address }}</h6>
                    <h6><strong>Phone:</strong> {{ details.result.formatted_phone_number }}</h6>
                    <h6><strong>Hours: </strong></h6>
                    <div class="hours" *ngFor="let dayhours of this.details.result.opening_hours.weekday_text">
                    {{ dayhours }}<br>
                    </div>
                <br>
                <div><a class="rate modal-trigger" link="btn light blue" data-target="ratingModal"><strong>Add Rating!</strong></a></div>
                <br>
                <div *ngIf= "details">
                    <sebm-google-map [latitude]=" this.details.result.geometry.location.lat" [longitude]="this.details.result.geometry.location.lng" [zoom]="17">
 			        <sebm-google-map-marker [latitude]="this.details.result.geometry.location.lat" [longitude]="this.details.result.geometry.location.lng" [label]="M">
 			        </sebm-google-map-marker>
 	                </sebm-google-map>
                </div>
            </div> 
        </div> 
    </div> 
</div>
<br>
<br>

<div class="row container" id="comments" *ngIf="(af.auth|async)">
    <div class="input-field col s12 m12 l9">
        <input id="comment" type="text" class="validate" [(ngModel)]="addedComment" name="addedComment">
          <label for="comment">Comment</label>
		  <a class="waves-effect waves-light btn" (click)="onAddedComment()">Submit</a> 
    </div>
</div>
   <br>  
<div class="row container">
        <div class="col s12 m12 l12">
            <div class = "card-large c2" *ngFor="let comment of comments">
                <span class= "userid"><strong>{{ comment.user }}</strong></span>
                    <span class="date"><strong>{{ comment.date }}</strong></span>
                <div class= "card-content">

					

                    <div><strong>{{ comment.ranking }}</strong></div>
                    <br>

                    <div><strong>Comment: </strong>{{ comment.comment_data }}</div>
					<br>
                    <a class= "comLike btn-small onhover" (click)="likeComment(comment)"><i class="material-icons left">thumb_up</i>({{comment.like}})</a>
					<br>
                </div>
                <hr>
            </div>
        </div>
    </div>
 <!-- Modal Structure -->
           <div id="ratingModal" class="modal" materialize="modal">
                <div class="modal-content" *ngIf="details dish">
                    <h5>Rate Dish</h5>
                    <h6><strong>{{details.result.name}}:  </strong>{{ dish.name }}</h6>
                    <div><rating [(ngModel)]="starSelect"></rating></div>
                </div>
                <div class="modal-footer">
                    <a class="modal-action waves-effect waves-blue btn-flat modal-close" (click)="rateDish()">Submit</a>
            </div> 
        </div>
