.card-large{
    font-size: 16;
    margin-bottom: 10px;
}
.card-title{
    font-size: 24px;
}
img{
    height: 300px;
    width: 450px;
}
button{
    font-size: 14;
    width: 25px;
}
card-content{
 border: solid #007dff;
}

