 <form (submit)="onRegister()">
	  <div class="form-group"> 
		  <h2>Create account</h2> 
	  </div> 
	  <div class="input-field"> 
		  <input id="inputName" type="text" class="validate" required autofocus [(ngModel)]="name" name="name"> 
		  <label for="Name" data-error="wrong" >Name</label> 
	  </div> 
	  <div class="input-field"> 
			  <input id="inputEmail" type="email" class="validate" required [(ngModel)]="email" name="email"> 
			  <label for="Email" data-error="wrong" >Email</label> 
	   </div>
						
	  <div class="input-field">
	  			<input id="inputPassword" type="password" class="validate" required [(ngModel)]="password" name="password" minLength="6">
			    <label for="Password">Password</label>
	  </div>
	  
	  <button class="btn waves-effect waves-light" type="submit" >Submit
		
	  </button>
						
				
</form>

	