<nav>
    <div class="nav-wrapper container">
        <a [routerLink]="['/']" class="brand-logo">Foogle</a>
        <a href="#" data-activates="mobile-slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
            <li><a routerLinkActive="active" *ngIf="!(af.auth| async)" (click)="login()">Login</a></li>
            <li><a routerLinkActive="active" *ngIf="(af.auth| async)" (click)="logOut()">Logout</a></li>
			<li><a routerLinkActive="active" *ngIf="(af.auth| async)" [routerLink]="['/settings']">Settings</a></li>
			
        </ul>

        <ul class="side-nav" id="mobile-slide-out">
			<li *ngIf="(af.auth| async)"  >
				<div class="userView">
			      <div class="background">
			        <img src="{{userImage}}">
			      </div>
			      <a href="#!user"><img class="circle" src="{{userImage}}"></a>
			      <a href="#!name"><span class="white-text name">{{userName}}</span></a>
			      <a href="#!email"><span class="white-text email">{{userEmail}}</span></a>
			    </div>
			</li>
			<li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
            <li><a *ngIf="!(af.auth| async)" (click)="login()">Login</a></li>
            <li><a *ngIf="(af.auth| async)" (click)="logOut()">Logout</a></li>
			<li><a routerLinkActive="active" *ngIf="(af.auth| async)" [routerLink]="['/settings']">Settings</a></li>
        </ul>
    </div>
</nav>
