fieldset {
    padding: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #2196F3;
}

legend {
    font-size: 2rem;
}

button.add-dish-btn {
    background-color: #00BD6C;
}

div.btn {
    background-color: #0367B4;
}

ul a {
    color: black;
}

.top-tab {
    font-size: 1.5rem;
}
