<div class="container">
    <div class="row">
        <ul>
            <div class="col s6">
                <li class="col s3 top-tab"><a outerLinkActive="active" [routerLink]="['/settings']">Settings</a></li>
            </div>
            <div class="col s6 top-tab">
                <li class="col s3"><a outerLinkActive="active" [routerLink]="['/customuploads']">Custom </a></li>
            </div>
        </ul>
    </div>

    <br>

    <form (submit)="onSubmit()">
    <fieldset>
        <legend><strong>Dish Information</strong></legend>
        <div class="typeahead__container">
              <div class="typeahead__field">
                  <span class="typeahead__query">
                      <input class="js-typeahead-restaurants"
                             name="q"
                             type="search"
                             autocomplete="off"
                             placeholder="Enter a restaurant name">
                  </span>
              </div>
        </div>
        <div class="input-field ">
          <input id="dish_name" type="text" class="validate" [(ngModel)]="city_name" name="city_name" required>
          <label for="dish_name">City </label>
        </div>
        <!-- <label for="dish_name">Restaurant Name</label>
        <select class="browser-default" id="sel1" [(ngModel)]="restaurantName"  [ngModelOptions]="{standalone: true}" required>
          <option *ngFor="let r of restaurants" [ngValue]="r.name"  >{{ r.name }}</option>
        </select> -->

        <div class="input-field ">
          <input id="dish_name" type="text" class="validate" [(ngModel)]="dish_name" name="dish_name" required>
          <label for="dish_name">Dish Name</label>
        </div>

        <label for="dish_name">Type of Cuisine</label>
        <select class="browser-default" id="sel1" [(ngModel)]="selectedCuisine"  [ngModelOptions]="{standalone: true}" required>
          <option *ngFor="let cuisine of cuisine_names" [ngValue]="cuisine.$key"  >{{ cuisine.$key }}</option>
        </select>

        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" [(ngModel)] ="file" name="file" id="fileUpload" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload the image" >
          </div>
        </div>
    </fieldset>

    <button class="btn waves-effect waves-light add-dish-btn" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </form>
</div>