  <div class="row" *ngIf = "cuisines">
    <div class="col s6 m5 l4" *ngFor="let cuisine of cuisines">
    	<div class="card small z-depth-4">
        	<div class="card-image">
          	  <img class="activator responsive-img" alt="cuisine image" src="{{ cuisine.img_url }}">
        	</div>
			<div class ="card-content">
				<span class="card-title activator"><strong>{{ cuisine.$key }}</strong><i class="material-icons right">more_vert</i></span>
                <p><a [routerLink]="['/dishes', cuisine.$key.toLowerCase()]">See Dishes...</a></p>
			</div>
			<div class="card-reveal">
                <span class="card-title activator"><strong>{{ cuisine.$key }}</strong><i class="material-icons right">close</i></span>
				<p>{{ cuisine.description }}</p>
				 <p><a [routerLink]="['/dishes', cuisine.$key.toLowerCase()]">See Dishes...</a></p>
			</div>
      	</div>
    </div>
  </div>
