<!-- <div *ngIf="loading" class="row container">
    <div class="col s12">
        <div class="user-profile-progress-bar progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div> -->

<!-- Show user profile preferences form -->
<div *ngIf="! userExists && ! loading" class="row">
    <div class="col s12 user-profile-preferences-set-preferences-header">
        <h3 class="user-profile-preferences-h3">Go ahead and setup your profile</h3>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn-large user-profile-preferences-button" href="#set-user-profile-preferences-modal">Set Profile Preferences</a>
    </div>

    <div class="col s12">
        <div id="set-user-profile-preferences-modal" class="modal modal-fixed-footer">
            <form #userPrefForm="ngForm">
                <div class="modal-content">
                    <h4>Set your preferneces below</h4>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required>
                        </div>

                        <div class="input-field col s12 m6 l6 form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <label>Enter Your Home City</label>
                            <input type="text" class="form-control" name="location_city" [(ngModel)]="location_city" required>
                        </div>

                        <div class="input-field col s12 m6 l6 form-group">
                            <select #stateSelectOption ngControl="stateSelectOption" class="form-control" required>
                                <option [value]="" disabled selected>Choose your state</option>
                                <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
                            </select>
                            <span class="user-profile-span-red-error-msg" *ngIf="mustEnterState"><small>Please choose your state</small></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <select #dietSelectOption ngControl="dietSelectOption" class="form-control" required>
                                <option [value]="" disabled selected>Choose your diet</option>
                                <option *ngFor="let diet of diets" [value]="diet.value">{{diet.name}}</option>
                            </select>
                            <span class="user-profile-span-red-error-msg" *ngIf="mustEnterDiet"><small>Please choose your diet</small></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- <a [routerLink]="['/user-profile']" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Update Profile</a> -->
                    <button id="modal-button" [disabled]="! userPrefForm.form.valid || ! stateSelectOption.value" (click)="addUserToDatabase(stateSelectOption.value, dietSelectOption.value)" type="button" class="waves-effect waves-green btn-flat">Add Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Show profile of user -->
<div *ngIf="! loading && userExists" class="row container">
    <div class="col s12 m7 offset-m3 l9 offset-l2">
        <div class="card-panel grey lighten-5 z-depth-1 hoverable user-profile-card">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="{{ user_profile_photo_url }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s8">
                    <span class="black-text user-profile-name">
                        {{ user_first_name }}
                    </span>
                    <span class="black-text user-profile-name">
                        {{ user_last_name }}
                    </span>
                </div>
                <div class="col s2">
                    <a (click)="editProfile()"><i id="user-profile-edit-icon" class="material-icons edit-icon">mode_edit</i></a>
                    <a (click)="cancelEditProfile()"><i id="user-profile-cancel-icon" class="material-icons">stop</i></a>
                </div>
            </div>

            <div class="row user-profile-info-no-edit">
                <div class="col s12">
                    <h5 class="user-profile-h5-small-margin-bottom"><small class="user-profile-h5-small-city-state">{{ user_location_city }}, {{ user_location_state }}</small></h5>
                    <h5><small class="user-profile-h5-small-diet">Diet: {{ user_diet }}</small></h5>
                </div>
            </div>
        </div>


        <form class="user-profile-info-edit" #userPrefEditForm="ngForm">
            <h5>Edit your info below:</h5>

            <div class="input-field col s12 form-group location_city-input">
                <label>Your New City</label>
                <input type="text" class="form-control" name="location_edit_city" [(ngModel)]="location_edit_city" required>
            </div>

            <div class="input-field col s12 form-group">
                <select #stateSelectEditOption ngControl="stateSelectEditOption" class="form-control" required>
                    <option [value]="" disabled selected>Choose your new state</option>
                    <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
                </select>
                <span class="user-profile-span-red-error-msg" *ngIf="mustEnterEditState"><small>Please choose your new state</small></span>
            </div>

            <div class="input-field col s12 form-group">
                <select #dietSelectEditOption ngControl="dietSelectEditOption" class="form-control" required>
                    <option [value]="" disabled selected>Choose your new diet</option>
                    <option *ngFor="let diet of diets" [value]="diet.value">{{diet.name}}</option>
                </select>
                <span class="user-profile-span-red-error-msg" *ngIf="mustEnterEditDiet"><small>Please choose your new diet</small></span>
            </div>

            <div class="col s12">
                <button id="edit-profile-button" [disabled]="! userPrefEditForm.form.valid" (click)="editUserPref(stateSelectEditOption.value, dietSelectEditOption.value)" type="button" class="waves-effect waves-green btn-flat">Update Profile</button>
            </div>
        </form>

        <section class="user-profile-comments">
            <h5><strong>Your most recent comments</strong></h5><br><br><br>
        </section>

        <section class="user-profile-favorite-dishes">
            <h5><strong>Here are your favorite dishes</strong></h5>
        </section>
    </div>
</div>
