<div *ngIf="! userExists" class="row">
    <div class="col s12 user-profile-preferences-set-preferences-header">
        <h3 class="user-profile-preferences-h3">Go ahead and setup your profile</h3>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn-large user-profile-preferences-button" href="#set-user-profile-preferences-modal">Set Profile Preferences</a>
    </div>

    <div class="col s12">
        <div id="set-user-profile-preferences-modal" class="modal modal-fixed-footer">
            <!-- <form (ngSubmit)="addUserToDatabase()" novalidate> -->
            <form>
                <div class="modal-content">
                    <h4>Set your preferneces below</h4>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required>
                        </div>

                        <div class="input-field col s12 m6 l6 form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <label>City</label>
                            <input type="text" class="form-control" name="location_city" [(ngModel)]="location_city" required>
                        </div>

                        <div class="input-field col s12 m6 l6 form-group">
                            <select #stateSelectOption ngControl="stateSelectOption" class="form-control">
                                <option [value]="" disabled selected>Choose your state</option>
                                <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <select #dietSelectOption ngControl="dietSelectOption" class="form-control">
                                <option [value]="" disabled selected>Choose your diet</option>
                                <option *ngFor="let diet of diets" [value]="diet.value">{{diet.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button (click)="addUserToDatabase(stateSelectOption.value, dietSelectOption.value)" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
