.user-profile-progress-bar {
    background-color: #00BD6C;
    margin-top: 4rem;
}

.user-profile-preferences-set-preferences-header {
    text-align: center;
    background-color: #0367B4;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: -4rem;
    min-height: 70vh;
}

.user-profile-preferences-button {
    background-color: #00BD6C;
}

.user-profile-preferences-h3 {
    color: #FFF;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0367B4;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0367B4;
    box-shadow: 0 1px 0 0 #0367B4;
}

select.dropdown-content li > a, selects.dropdown-content li > span {
    color: #0367B4;
}

span.user-profile-span-red-error-msg {
    color: red;
    display: inline-block;
    position: relative;
    top: -1rem;
}

span.user-profile-name {
    font-size: 2rem;
}

div.user-profile-card {
    margin-bottom: 3rem;
}

h5.user-profile-h5-small-margin-bottom {
    margin-bottom: -1rem;
}

a:hover {
    cursor: pointer;
}

form.user-profile-info-edit {
    display: none;
    margin-bottom: 3rem;
}

i#user-profile-cancel-icon {
    display: none;
}

button#edit-profile-button {
    margin-bottom: 4rem;
}

h5.user-profile-comments-section-h5 {
    padding-bottom: 1rem;
}

img.user-profile-comment-dish-img {
    border-radius: 3px;
    width: 250px;
    height: 150px;
}

p.user-profile-comment-dish-name{
    margin-top: 0;
    font-size: 1.4rem;
}

p.user-profile-comment-dish-description {
    font-size: 1.2rem;
}

hr.user-profile-comment-hr {
    border-top: 3px solid #00BD6C;
    margin-bottom: 3rem;
}
