<div *ngIf="loading" class="row container">
    <div class="col s12">
        <div class="user-profile-progress-bar progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div *ngIf="! userExists && ! loading" class="row">
    <div class="col s12 user-profile-preferences-set-preferences-header">
        <h3 class="user-profile-preferences-h3">Go ahead and setup your profile</h3>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn-large user-profile-preferences-button" href="#set-user-profile-preferences-modal">Set Profile Preferences</a>
    </div>

    <div class="col s12">
        <div id="set-user-profile-preferences-modal" class="modal modal-fixed-footer">
            <form #userPrefForm="ngForm">

                <div class="modal-content">
                    <h4>Set your preferneces below</h4>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required>
                        </div>

                        <div class="input-field col s12 m6 l6 form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <label>Enter Your Home City</label>
                            <input type="text" class="form-control" name="location_city" [(ngModel)]="location_city" required>
                        </div>

                        <div class="input-field col s12 m6 l6 form-group">
                            <select #stateSelectOption ngControl="stateSelectOption" class="form-control" required>
                                <option [value]="" disabled selected>State</option>
                                <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
                            </select>
                            <span class="user-profile-span-red-error-msg" *ngIf="mustEnterState"><small>Please choose your state</small></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6 form-group">
                            <select #dietSelectOption ngControl="dietSelectOption" class="form-control" required>
                                <option [value]="" disabled selected>Choose your diet</option>
                                <option *ngFor="let diet of diets" [value]="diet.value">{{diet.name}}</option>
                            </select>
                            <span class="user-profile-span-red-error-msg" *ngIf="mustEnterDiet"><small>Please choose your diet</small></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- <a [routerLink]="['/user-profile']" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Update Profile</a> -->
                    <button id="modal-button" [disabled]="! userPrefForm.form.valid || ! stateSelectOption.value" (click)="addUserToDatabase(stateSelectOption.value, dietSelectOption.value)" type="button" class="waves-effect waves-green btn-flat">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="! loading && userExists" class="row container">
    <div class="col s12 m6 offset-m3 l8 offset-l2">
        <!-- Need to create layout for profile NOT FINISHED YET -->
        <h3>{{ user_first_name }}</h3>
        <h3>{{ user_last_name }}</h3>
        <h3>{{ user_location_city }}</h3>
        <h3>{{ user_location_state }}</h3>
        <h3>{{ user_diet }}</h3>
    </div>
</div>
